<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysProcessNodeApproverMapper">
    
    <resultMap type="SysProcessNodeApprover" id="SysProcessNodeApproverResult">
        <result property="id"    column="id"    />
        <result property="nodeId"    column="node_id"    />
        <result property="approverId"    column="approver_id"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="approverName"    column="approver_name"    />
    </resultMap>

    <select id="selectApproverCountByNode"  parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(id) from sys_process_node_approver  where node_id = #{nodeId}
    </select>

    <sql id="selectSysProcessNodeApproverVo">
        select id, node_id, approver_id, remark, del_flag from sys_process_node_approver
    </sql>

    <select id="selectSysProcessNodeApproverList" parameterType="SysProcessNodeApprover" resultMap="SysProcessNodeApproverResult">
        select u.user_name as approver_name,a.id, a.node_id, a.approver_id, a.remark, a.del_flag from sys_process_node_approver a left join sys_user u on a.approver_id=u.user_id
        <where>
            <if test="nodeId != null  and nodeId != ''">and node_id = #{nodeId}</if>
            <if test="approverId != null  and approverId != ''">and approver_id = #{approverId}</if>
        </where>
    </select>
    
    <select id="selectSysProcessNodeApproverById" parameterType="Long" resultMap="SysProcessNodeApproverResult">
        <include refid="selectSysProcessNodeApproverVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysProcessNodeApprover" parameterType="SysProcessNodeApprover" useGeneratedKeys="true" keyProperty="id">
        insert into sys_process_node_approver
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nodeId != null">node_id,</if>
            <if test="approverId != null">approver_id,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nodeId != null">#{nodeId},</if>
            <if test="approverId != null">#{approverId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateSysProcessNodeApprover" parameterType="SysProcessNodeApprover">
        update sys_process_node_approver
        <trim prefix="SET" suffixOverrides=",">
            <if test="nodeId != null">node_id = #{nodeId},</if>
            <if test="approverId != null">approver_id = #{approverId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysProcessNodeApproverById" parameterType="Long">
        delete from sys_process_node_approver where id = #{id}
    </delete>

    <delete id="deleteSysProcessNodeApproverByIds" parameterType="String">
        delete from sys_process_node_approver where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>