<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysProcessNoticeMapper">
    
    <resultMap type="SysProcessNotice" id="SysProcessNoticeResult">
        <result property="processRuntimeId"    column="process_runtime_id"    />
        <result property="approverId"    column="approver_id"    />
        <result property="approveTime"    column="approve_time"    />
        <result property="approveMsg"    column="approve_msg"    />
        <result property="approveStatus"    column="approve_status"    />
        <result property="nodeName"    column="node_name"    />
    </resultMap>

    <sql id="selectSysProcessNoticeVo">
        select process_runtime_id, approver_id, approve_time, approve_msg, approve_status, node_name from sys_process_notice
    </sql>

    <select id="selectSysProcessNoticeList" parameterType="SysProcessNotice" resultMap="SysProcessNoticeResult">
        <include refid="selectSysProcessNoticeVo"/>
        <where>  
            <if test="processRuntimeId != null "> and process_runtime_id = #{processRuntimeId}</if>
            <if test="approverId != null "> and approver_id = #{approverId}</if>
            <if test="approveTime != null "> and approve_time = #{approveTime}</if>
            <if test="approveMsg != null  and approveMsg != ''"> and approve_msg = #{approveMsg}</if>
            <if test="approveStatus != null "> and approve_status = #{approveStatus}</if>
            <if test="nodeName != null  and nodeName != ''"> and node_name like concat('%', #{nodeName}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysProcessNoticeByProcessRuntimeId" parameterType="Long" resultMap="SysProcessNoticeResult">
        <include refid="selectSysProcessNoticeVo"/>
        where process_runtime_id = #{processRuntimeId}
    </select>
        
    <insert id="insertSysProcessNotice" parameterType="SysProcessNotice">
        insert into sys_process_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="processRuntimeId != null">process_runtime_id,</if>
            <if test="approverId != null">approver_id,</if>
            <if test="approveTime != null">approve_time,</if>
            <if test="approveMsg != null">approve_msg,</if>
            <if test="approveStatus != null">approve_status,</if>
            <if test="nodeName != null">node_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="processRuntimeId != null">#{processRuntimeId},</if>
            <if test="approverId != null">#{approverId},</if>
            <if test="approveTime != null">#{approveTime},</if>
            <if test="approveMsg != null">#{approveMsg},</if>
            <if test="approveStatus != null">#{approveStatus},</if>
            <if test="nodeName != null">#{nodeName},</if>
         </trim>
    </insert>

    <update id="updateSysProcessNotice" parameterType="SysProcessNotice">
        update sys_process_notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="approverId != null">approver_id = #{approverId},</if>
            <if test="approveTime != null">approve_time = #{approveTime},</if>
            <if test="approveMsg != null">approve_msg = #{approveMsg},</if>
            <if test="approveStatus != null">approve_status = #{approveStatus},</if>
            <if test="nodeName != null">node_name = #{nodeName},</if>
        </trim>
        where process_runtime_id = #{processRuntimeId}
    </update>

    <delete id="deleteSysProcessNoticeByProcessRuntimeId" parameterType="Long">
        delete from sys_process_notice where process_runtime_id = #{processRuntimeId}
    </delete>

    <delete id="deleteSysProcessNoticeByProcessRuntimeIds" parameterType="String">
        delete from sys_process_notice where process_runtime_id in 
        <foreach item="processRuntimeId" collection="array" open="(" separator="," close=")">
            #{processRuntimeId}
        </foreach>
    </delete>
</mapper>